## job_postings.csv cleanup

In [22]:
# Import Dependencies
import pandas as pd
from datetime import datetime

In [33]:
# Read in CSV
job_postings = pd.read_csv("/Users/sangkim/Desktop/demo_day_project/job_postings.csv")

In [34]:
# Display first 5 rows of CSV
job_postings.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [35]:
# Drop 'description' and 'scraped' for irrelevency
columns_to_drop = ['description', 'scraped']
job_postings.drop(columns = columns_to_drop, inplace = True)

In [36]:
# Confirm correct columns were dropped
job_postings.head()

,job_id,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,1.701680e+12,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,1.701680e+12,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,1.701680e+12,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,1.701680e+12,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,1.701680e+12,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY

In [84]:
# Convert all time columns to timestamp
job_postings['original_listed_time'] = pd.to_datetime(job_postings['original_listed_time'], unit='ms', errors='coerce')
job_postings['closed_time'] = pd.to_datetime(job_postings['closed_time'], unit='ms', errors='coerce')
job_postings['listed_time'] = pd.to_datetime(job_postings['listed_time'], unit='ms', errors='coerce')
job_postings['expiry'] = pd.to_datetime(job_postings['expiry'], unit='ms', errors='coerce')
job_postings

,job_id,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 09:26:40,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,2023-12-04 08:53:20,NaT,NaN,NaN,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,2023-12-04 08:53:20,NaT,NaN,Bachelor's Degree in Mechanical Engineering pr...,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 06:40:00,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,2023-12-04 08:53:20,NaT,Mid-Senior level,NaN,2023-11-04 09:26:40,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33241,133114754,77766802.0,Sales Manager,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,...,2023-09-23 00:46:40,NaT,NaN,NaN,2023-08-23 22:33:20,NaN,0,FULL_TIME,NaN,NaN
33242,108965123,NaN,Office Administrative Assistant,NaN,NaN,NaN,NaN,Full-time,"New York, NY",2.0,...,2023-12-03 19:00:00,NaT,NaN,NaN,2023-11-03 19:33:20,NaN,0,FULL_TIME,NaN,NaN
33243,102339515,52132271.0,Franchise Owner,NaN,NaN,NaN,NaN,Full-time,Greater Boston,NaN,...,2023-12-03 21:46:40,NaT,NaN,NaN,2023-11-03 22:20:00,NaN,0,FULL_TIME,NaN,NaN
33244,85008768,NaN,Licensed Insurance Agent,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",NaN,...,2024-02-18 23:46:40,NaT,NaN,NaN,2023-08-23 00:20:00,NaN,1,FULL_TIME,USD,BASE_SALARY
33245,3958427,630152.0,Stylist/ Clorist,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,2024-05-01 21:46:40,NaT,NaN,Must be a seasoned stylist with an existing bo...,2023-11-03 22:20:00,NaN,0,FULL_TIME,USD,BASE_SALARY

## companies.csv cleanup

In [55]:
# Read in CSV's
companies = pd.read_csv("/Users/sangkim/Desktop/demo_day_project/job_market_analysis/Starter Files/companies.csv")

In [42]:
companies.head()

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,"GE Power, part of GE Vernova, is a world energ...",7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,Weâ€™re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle

In [43]:
# Drop 'description' column for irrelevency
companies.drop(columns = ['description'], inplace = True)

In [44]:
# Confirm correct column was dropped
companies.head()

,company_id,name,company_size,state,country,city,zip_code,address,url
0,1009,IBM,7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1021,GE Power,7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower
3,1025,Hewlett Packard Enterprise,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
4,1028,Oracle,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle

## companies.csv & employee_counts.csv merge

In [56]:
# Import CSV's
employee_counts = pd.read_csv("/Users/sangkim/Desktop/demo_day_project/job_market_analysis/Starter Files/employee_counts.csv")

In [46]:
# Confirm CSV's are properly imported
employee_counts.head()

   company_id  employee_count  follower_count  time_recorded
0    81149246               6              91   1.692645e+09
1    10033339               3             187   1.692645e+09
2     6049228              20              82   1.692645e+09
3     2641066              45            2336   1.692645e+09
4    96649998               0               2   1.692645e+09

In [47]:
# Merge employee_counts & companies on 'company_id'
company_info = pd.merge(companies, employee_counts, on = 'company_id', how = 'inner')

In [102]:
# Remove all duplicates from company_id
cleaned_company_info = company_info.drop_duplicates('company_id')
cleaned_company_info

,company_id,name,company_size,state,country,city,zip_code,address,url,employee_count,follower_count,time_recorded
0,1009,IBM,7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm,316130,16114398,1.692851e+09
2,1016,GE HealthCare,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare,53495,2060378,1.692853e+09
5,1021,GE Power,7.0,NY,US,Schenectady,12345,1 River Road,https://www.linkedin.com/company/gepower,26963,2340835,1.692866e+09
8,1025,Hewlett Packard Enterprise,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...,70995,3646359,1.692840e+09
12,1028,Oracle,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle,202019,9289332,1.692861e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
14225,101065652,AUX CLOUD COMMERCE(USA)INC,1.0,0,0,0,0,0,https://www.linkedin.com/company/aux-cloud-com...,0,1,1.699057e+09
14226,101068739,"IZI1 Operations, LLC",1.0,Florida,US,St Petersberg,0,0,https://www.linkedin.com/company/izi1-operatio...,0,0,1.699057e+09
14227,101069729,SunSource Power,1.0,0,0,0,0,0,https://www.linkedin.com/company/sunsource-power,0,2,1.699072e+09
14228,101173981,Cultivate Charlottesville,1.0,VA,US,Charlottesville,22911,0,https://www.linkedin.com/company/cultivate-cha...,0,2,1.699045e+09
14229,101174062,Drag Story Hour,NaN,CA,US,San Francisco,0,0,https://www.linkedin.com/company/drag-story-hour,0,1,1.699072e+09

In [54]:
# Export cleaned csv
cleaned_company_info.to_csv('Updated Files/company_info.csv', index = False)

## Merge industries.csv & job_industries.csv

In [57]:
# Read in CSV's
industries_df = pd.read_csv("/Users/sangkim/Desktop/demo_day_project/job_market_analysis/Starter Files/industries.csv")
job_industries_df = pd.read_csv("/Users/sangkim/Desktop/demo_day_project/job_market_analysis/Starter Files/job_industries.csv")

In [62]:
# Display first 5 rows of both CSV's
industries_df.head()

   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

In [63]:
job_industries_df.head()

       job_id  industry_id
0  3378133231           68
1  3497509795           96
2  3690843087           47
3  3691775263          112
4  3691779379           80

In [71]:
# Merge both datasets on 'industry_id'
merged_df = pd.merge(job_industries_df, industries_df, on = 'industry_id', how = 'left')
industries_merged = merged_df[['job_id', 'industry_name']]
industries_merged

           job_id                                      industry_name
0      3378133231                                   Higher Education
1      3497509795                      IT Services and IT Consulting
2      3690843087                                         Accounting
3      3691775263  Appliances, Electrical, and Electronics Manufa...
4      3691779379                               Advertising Services
...           ...                                                ...
44086  3757486249                                         Accounting
44087  3757486249                                 Financial Services
44088  3757780487                            Staffing and Recruiting
44089  3757934256                               Advertising Services
44090  3757498232                          Hospitals and Health Care

[44091 rows x 2 columns]

## Merge industries_merged dataframe with cleaned_job_postings.csv

In [119]:
merged_df = pd.merge(job_postings, industries_merged, on = 'job_id', how = 'inner')

,industry_name,company_id,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,Medical Equipment Manufacturing,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 09:26:40,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY
1,Industrial Machinery Manufacturing,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,2023-12-04 08:53:20,NaT,NaN,NaN,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
2,Automation Machinery Manufacturing,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,2023-12-04 08:53:20,NaT,NaN,Bachelor's Degree in Mechanical Engineering pr...,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
3,Non-profit Organizations,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 06:40:00,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY
4,Retail,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,2023-12-04 08:53:20,NaT,Mid-Senior level,NaN,2023-11-04 09:26:40,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43046,Truck Transportation,77766802.0,Sales Manager,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,...,2023-09-23 00:46:40,NaT,NaN,NaN,2023-08-23 22:33:20,NaN,0,FULL_TIME,NaN,NaN
43047,Retail Apparel and Fashion,NaN,Office Administrative Assistant,NaN,NaN,NaN,NaN,Full-time,"New York, NY",2.0,...,2023-12-03 19:00:00,NaT,NaN,NaN,2023-11-03 19:33:20,NaN,0,FULL_TIME,NaN,NaN
43048,Consumer Services,52132271.0,Franchise Owner,NaN,NaN,NaN,NaN,Full-time,Greater Boston,NaN,...,2023-12-03 21:46:40,NaT,NaN,NaN,2023-11-03 22:20:00,NaN,0,FULL_TIME,NaN,NaN
43049,Insurance,NaN,Licensed Insurance Agent,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",NaN,...,2024-02-18 23:46:40,NaT,NaN,NaN,2023-08-23 00:20:00,NaN,1,FULL_TIME,USD,BASE_SALARY
43050,Personal Care Product Manufacturing,630152.0,Stylist/ Clorist,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,2024-05-01 21:46:40,NaT,NaN,Must be a seasoned stylist with an existing bo...,2023-11-03 22:20:00,NaN,0,FULL_TIME,USD,BASE_SALARY

## Replace 'company_id' for 'company name'

In [122]:
merged_df = pd.merge(merged_df, company_info[['company_id', 'name']], on = 'company_id', how = 'left')
desired_columns = ['industry_name', 
                 'name',
                 'title',
                 'max_salary',
                 'med_salary',
                 'min_salary',
                 'pay_period',
                 'formatted_work_type',
                 'location',
                 'applies',
                 'original_listed_time',
                 'remote_allowed',
                 'views',
                 'job_posting_url',
                 'application_url',
                 'application_type',
                 'expiry',
                 'closed_time',
                 'formatted_experience_level',
                 'skills_desc',
                 'listed_time',
                 'posting_domain',
                 'sponsored',
                 'work_type',
                 'currency',
                 'compensation_type']
job_postings_cleaned = merged_df[desired_columns]
job_postings_cleaned

,industry_name,name,title,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,applies,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,Medical Equipment Manufacturing,HearingLife,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 09:26:40,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY
1,Industrial Machinery Manufacturing,"Metalcraft of Mayville, Inc.",Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",NaN,...,2023-12-04 08:53:20,NaT,NaN,NaN,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
2,Automation Machinery Manufacturing,"U.S. Tsubaki Power Transmission, LLC","Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",NaN,...,2023-12-04 08:53:20,NaT,NaN,Bachelor's Degree in Mechanical Engineering pr...,2023-11-04 06:40:00,www.click2apply.net,0,FULL_TIME,NaN,NaN
3,Non-profit Organizations,Episcopal Communities & Services,Cook,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",NaN,...,2023-12-04 08:53:20,NaT,Entry level,NaN,2023-11-04 06:40:00,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY
4,Retail,"iHerb, LLC",Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,United States,NaN,...,2023-12-04 08:53:20,NaT,Mid-Senior level,NaN,2023-11-04 09:26:40,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88232,Truck Transportation,CargoLogin.,Sales Manager,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",NaN,...,2023-09-23 00:46:40,NaT,NaN,NaN,2023-08-23 22:33:20,NaN,0,FULL_TIME,NaN,NaN
88233,Retail Apparel and Fashion,NaN,Office Administrative Assistant,NaN,NaN,NaN,NaN,Full-time,"New York, NY",2.0,...,2023-12-03 19:00:00,NaT,NaN,NaN,2023-11-03 19:33:20,NaN,0,FULL_TIME,NaN,NaN
88234,Consumer Services,DryerVentz - DuctVentz,Franchise Owner,NaN,NaN,NaN,NaN,Full-time,Greater Boston,NaN,...,2023-12-03 21:46:40,NaT,NaN,NaN,2023-11-03 22:20:00,NaN,0,FULL_TIME,NaN,NaN
88235,Insurance,NaN,Licensed Insurance Agent,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",NaN,...,2024-02-18 23:46:40,NaT,NaN,NaN,2023-08-23 00:20:00,NaN,1,FULL_TIME,USD,BASE_SALARY
88236,Personal Care Product Manufacturing,Karen Marie Salon,Stylist/ Clorist,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,2024-05-01 21:46:40,NaT,NaN,Must be a seasoned stylist with an existing bo...,2023-11-03 22:20:00,NaN,0,FULL_TIME,USD,BASE_SALARY

In [123]:
job_postings_cleaned.to_csv("Updated Files/cleaned_job_postings.csv")

## Merge industries_merged with salaries.csv, then merge results with job_postings_cleaned